<div class="window vertical-center horizontal-center" style="width: 300px">
    <div class="title-bar">
      <div class="title-bar-text">Login</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close" (click)="Alert()"></button>
      </div>
    </div>
    <div class="window-body">


      <form [formGroup]="LoginForm" (ngSubmit)="submitForm()" class="mx-auto">
          <div class="field-row">
            <label for="username">Username</label>
            <input formControlName="username" id="username" type="text" />
          </div>
          <div class="field-row">
            <label for="password">Password</label>
            <input formControlName="password" id="password" type="password" />
          </div>
          <div class="field-row">
            <button type="submit"
                    aria-label="submit"
                    class="center"
                    [disabled]="!LoginForm.valid">Submit</button>
          </div>
      </form>


    </div>
  </div>