<div class="window vertical-center horizontal-center" style="width: 300px">
    <div class="title-bar">
      <div class="title-bar-text">Login</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body">


      <form class="mx-auto">
          <div class="field-row">
            <label for="username">Username</label>
            <input id="username" type="text" />
          </div>
          <div class="field-row">
            <label for="password">Password</label>
            <input id="password" type="password" />
          </div>
          <div class="field-row">
            <button aria-label="submit" class="center">Submit</button>
          </div>
      </form>


    </div>
  </div>