<div class="window horizontal-center" style="width: 500px">
  <div class="title-bar">
    <div class="title-bar-text">Triton Pet-Index Pet-Adder</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close" (click)="Alert()"></button>
    </div>
  </div>
  <div class="window-body">
    <form [formGroup]="AnimalForm" (ngSubmit)="submitForm()" class="mx-auto" style="width: 300px">
      <fieldset>
        <div class="field-row">Select animal CATegory:</div>
        <div class="field-row">
          <input id="dog" type="radio" formControlName="category" value="dog" checked />
          <label for="dog">Dog</label>
        </div>
        <div class="field-row">
          <input id="cat" type="radio" formControlName="category" value="cat" />
          <label for="cat">Cat</label>
        </div>
        <div class="field-row">
          <input id="reptile" type="radio" formControlName="category" value="reptile" />
          <label for="reptile">Reptile</label>
        </div>
        <div class="field-row">
          <input id="bird" type="radio" formControlName="category" value="bird" />
          <label for="bird">Bird</label>
        </div>
        <div class="field-row">
          <input id="amphibian" type="radio" formControlName="category" value="amphibian" />
          <label for="amphibian">Amphibian</label>
        </div>
        <div class="field-row">
          <input id="small-animal" type="radio" formControlName="category" value="small-animal" />
          <label for="small-animal">Small Animal</label>
        </div>
      </fieldset>

      <div class="field-row">
        <label for="breed">Breed/Species</label>
        <input formControlName="breed" id="breed" type="text" size="40"/>
      </div>

      <div class="field-row">
        <label for="image">Upload Animal Image</label>
        <input
          formControlName="image"
          id="image"
          type="file"
          accept="image/png, image/jpeg"
          (change) = "onFileSelected($event)"
        />
      </div>

      <div class="field-row">
        <label for="height">Height</label>
        <input formControlName="height" id="height" type="text" />
      </div>

      <div class="field-row">
        <label for="weight">Weight</label>
        <input formControlName="weight" id="weight" type="text" />
      </div>

      <div class="field-row">
        <label for="lifespan">Lifespan</label>
        <input formControlName="lifespan" id="lifespan" type="text" />
      </div>

      <div class="field-row">
        <label for="diet">Diet</label>
        <textarea formControlName="diet" id="diet"></textarea>
      </div>

      <div class="field-row">
        <label for="dangerous-foods">Dangerous Foods</label>
        <textarea formControlName="dangerousFoods" id="dangerous-foods"></textarea>
      </div>

      <div class="field-row">
        <label for="good-foods">Good Foods</label>
        <textarea formControlName="goodFoods" id="good-foods"></textarea>
      </div>

      <div class="field-row">
        <label for="needs">Grooming and Diet Needs</label>
        <textarea formControlName="needs" id="needs"></textarea>
      </div>

      <div class="field-row">
        <label for="habits">Tempermant and Habitat</label>
        <textarea formControlName="habits" id="habits"></textarea>
      </div>

      <div class="field-row">
        <button
          type="submit"
          aria-label="submit"
          class="center"
          [disabled]="!AnimalForm.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
